// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/";

@import "susy"; // grid
@import "base";
@import "formalize";

// To customize vertical ryhthm, see http://compass-style.org/reference/compass/typography/vertical_rhythm/
@include establish-baseline;

body {
  background: #d9ebf9;
}

@import "base";

$M: 52em;
$L: 75em;

h1 {
  @include sans-family;
  @include adjust-font-size-to(30px, 1);
  @include trailer(1, 30px);
  border-bottom: 1px solid #666;
}

h2 {
  @include sans-family;
  @include adjust-font-size-to(24px, 1);
  @include trailer(1, 30px);
  border-bottom: 1px solid #666;
}

h3 {
  @include sans-family;
  @include adjust-font-size-to(21px, 1);
  @include box-sizing(border-box);
  @include leader(1, 21px);
  @include trailer(.5, 21px);
}

h4 {
  @include sans-family;
  @include adjust-font-size-to(17px, 1);
  @include box-sizing(border-box);
  @include leader(1, 17px);
  @include trailer(.5, 17px);
}

@import "layout";