#{{:name "Blinding Flash"
   :subtypes #{:light}
   :casting-cost 7
   :action :slow
   :range [0 0]
   :targets #{:zone}
   :school [:holy 2]
   :dice 2
   :damage-type :light
   :effects #{[:daze 4 9] [:stun 10 12]}
   :traits #{:ethereal :unavoidable [:nonliving 2]}
   :description "Attacks all objects in the zone except the caster"}
  {:name "Chain Lightning"
   :subtypes #{:lightning}
   :casting-cost 12
   :action :slow
   :range [0 1]
   :targets #{:creature, :conjuration}
   :school [:air 3]
   :dice 5
   :damage-type :lightning
   :effects #{[:daze 5 7] [:stun 8 12]}
   :traits #{:ethereal}
   :description "Each time Chain Lightning damages a target, it may attack another target. That target must be in LoS to the last target, and may be up to 1 zone away from that target. Each successive attack rolls 1 fewer attack dice, and subtraacts 1 more from the effect die roll. Chain Lightning can't attack the same target twice."}
  {:name "Electrify"
   :subtypes #{:lightning}
   :casting-cost 9
   :action :slow
   :range [0 0]
   :targets #{:zone}
   :school [:air 2]
   :dice 4
   :damage-type :lightning
   :effects #{[:daze 7 8] [:stun 9 12]}
   :traits #{:ethereal :unavoidable}
   :description "Attacks all objects in the zone except the caster"}
  {:name "Flameblast"
   :subtypes #{:flame}
   :casting-cost 5
   :range [0 1]
   :targets #{:creature :conjuration}
   :school [:flame 1]
   :dice 4
   :damage-type :flame
   :effects #{[[:burn 1] 7 10] [[:burn 2] 11 12]}
   :traits #{:defrost :unavoidable}
   :description ""}
  {:name "Fireball"
   :subtypes #{:flame}
   :casting-cost 8
   :range [0 2]
   :targets #{:creature :conjuration}
   :school [:flame 2]
   :dice 6
   :damage-type :flame
   :effects #{[[:burn 1] 4 10] [[:burn 2] 11 12]}
   :traits #{:defrost}
   :description ""}
  {:name "Firestorm"
   :subtypes #{:flame}
   :casting-cost 11
   :action :slow
   :range [0 1]
   :targets #{:zone}
   :school [:flame 3]
   :dice 5
   :damage-type :flame
   :effects #{[[:burn 1] 4 10] [[:burn 2] 11 12]}
   :traits #{:defrost :unavoidable}
   :description ""}
  {:name "Geyser"
   :subtypes #{:hydro}
   :casting-cost 3
   :range [0 1]
   :targets #{:creature :conjuration}
   :school [:water 1]
   :dice 3
   :damage-type :hydro
   :effects #{[:daze 5 12]}
   :traits #{:unavoidable}
   :description "During the Roll Dice Step of this attack, if the target has any Burn conditions on it, cancel this attack and remove all Burn conditions from the target instead."}
  {:name "Jet Stream"
   :subtypes #{:wind}
   :casting-cost 4
   :range [0 2]
   :targets #{:creature :conjuration}
   :school [:air 1]
   :dice 2
   :damage-type :wind
   :effects #{[:push 4 10] [:push :daze 11 12]}
   :traits #{:ethereal [:flying 2]}
   :description ""}
  {:name "Lightning Bolt"
   :subtypes #{:lightning}
   :casting-cost 8
   :range [0 2]
   :targets #{:creature :conjuration}
   :school [:air 2]
   :dice 5
   :damage-type :lightning
   :effects #{[:daze 6 7] [:stun 8 12]}
   :traits #{:ethereal [:flying 2]}
   :description ""}
  {:name "Pillar of Light"
   :subtypes #{:light}
   :casting-cost 5
   :range [0 2]
   :targets #{:creature :conjuration}
   :school [:holy 1]
   :dice 2
   :damage-type :light
   :effects #{[:daze 4 10] [:stun 11 12]}
   :traits #{:ethereal [:nonliving 2]}
   :description ""}
  {:name "Ring of Fire"
   :subtypes #{:flame}
   :casting-cost 9
   :action :slow
   :range [0 0]
   :targets #{:zone}
   :school [:flame 2]
   :dice 5
   :damage-type :flame
   :effects #{[[:burn 1] 7 10] [[:burn 2] 11 12]}
   :traits #{:unavoidable :defrost}
   :description "Attacks all objects in the zone except the caster."}
  {:name "Thunderbolt"
   :subtypes #{:lightning}
   :casting-cost 10
   :action :slow
   :range [0 3]
   :targets #{:creature :conjuration}
   :school [:air 2]
   :dice 6
   :damage-type :lightning
   :effects #{[:daze 4 6] [:stun 7 12]}
   :traits #{:ethereal}
   :description ""}}
