;; common
#{{:name "Agony"
   :subtypes #{:curse}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:dark 1]
   :effects #{[:melee -2]}
   :traits #{}
   :description "Whenever this creature makes a **non-spell** ranged or melee attack, it rolls 2 fewer attack dice."}
  {:name "Bear Strength"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 1]
   :effects #{[:melee 2]}
   :traits #{}
   :description "This creature gains the **Melee +2** trait."}
  {:name "Block"
   :subtypes #{:force :defense}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:mind 1]
   :effects #{:defense}
   :traits #{:mandatory}
   :description "When this creature is attacked, you **must** reveal Block during the Avoid Attack Step. Block counts as a Defense, and the attack is avoided. Then destroy Block. If the attack is **Unavoidable**, destroy Block without effect."}
  {:name "Bull Endurance"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 1]
   :effects #{[:life :buff]}
   :traits #{}
   :description "This creature gainst **Life +4**"}
  {:name "Chains of Agony"
   :subtypes #{:curse}
   :casting-cost 2
   :reveal-cost 1
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:dark 1]
   :effects #{[:move :debuff] :direct-damage}
   :traits #{}
   :description "Each time this creature takes a move action, it receives 1 direct damage."}
  {:name "Cheetah Speed"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 1]
   :effects #{:fast}
   :traits #{}
   :description "This creature gains the **Fast** trait."}
  {:name "Circle of Lightning"
   :subtypes #{:lightning, :barrier}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:air 1]
   :effects #{:damage-barrier}
   :traits #{[:magebind 2] :attack}
   :attacks #{{:dice 2
               :damage-type :lightning
               :effects #{[:daze 7 10] [:stun 11 12]}
               :traits #{:unavoidable :ethereal}}}
   :description "This creature gains a **Damage Barrier**."}
  {:name "Cobra Reflexes"
   :subtypes #{:defense}
   :casting-cost 2
   :reveal-cost 5
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 2]
   :effects #{:defense}
   :traits #{[:magebind 2]}
   :defenses #{{:effectiveness 7
                :uses 1}}
   :description "This creature gains a **Defense**"}
  {:name "Death Link"
   :subtypes #{:curse}
   :casting-cost 2
   :reveal-cost 6
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living :non-mage]}
   :school [:dark 2]
   :effects #{[:direct-damage :recipient]}
   :traits #{:magecast :unique :dark-mage-only}
   :description "Each Upkeep Phase, the controller of Death Link may heal up to 2 damage from his Mage and place it on this creature as direct damage, regardless of distance or LoS."}
  {:name "Decoy"
   :subtypes #{:illusion}
   :casting-cost 2
   :reveal-cost 0
   :speed :quick
   :range [0 2]
   :targets #{:zone :object}
   :school [:mind 1]
   :effects #{}
   :traits #{:novice}
   :description "When Decoy is revealed, destroy it. When this spell is destroyed its controller gains 2 mana."}
  {:name "Divine Intervention"
   :subtypes #{:protection}
   :casting-cost 2
   :reveal-cost 10
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:holy 3]
   :effects #{:teleport}
   :traits #{:holy-mage-only :epic}
   :description "When this spell is revealed, you may Teleport this creature to any zone in the Arena, then destroy Divine Intervention."}
  {:name "Divine Protection"
   :subtypes #{:protection :aegis}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:holy 1]
   :effects #{[:aegis 1]}
   :traits #{[:magebind 2]}
   :description "This creature gains the **Aegis 1** trait."}
  {:name "Eagle Wings"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living :non-mage]}
   :school [:nature 1]
   :effects #{:flying}
   :traits #{}
   :description "This creature gains the **Flying** trait."}
  {:name "Enfeeble"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living :non-mage]}
   :school [:nature 1]
   :effects #{:flying}
   :traits #{}
   :description "This creature gains the **Flying** trait."}
  {:name "Essence Drain"
   :subtypes #{:mana}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :non-mage]}
   :school [:arcane 2]
   :effects #{[:upkeep 2]}
   :traits #{}
   :description "This creature gains the **Upkeep +2** trait."}
  {:name "Force Hold"
   :subtypes #{:force}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:mind 2]
   :effects #{:restrained :unmovable}
   :traits #{[:upkeep 3]}
   :description "This creature is **Restrained**, and gains the **Unmovable** trait. This does not affect creatures with the Uncontainable trait."}
  {:name "Force Orb"
   :subtypes #{:force :defense}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:mind 1]
   :effects #{:defense}
   :traits #{[:magebind 1]}
   :defenses #{{:effectiveness 8
                :uses 1
                :restrictions #{:no-melee}}}
   :description "This creature gains a **Defense**, which is unaffected by conditions on this creature, including Incapacitated, Restrained, and Daze."}
  {:name "Force Sword"
   :subtypes #{:force :defense}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:mind 1]
   :effects #{:defense}
   :traits #{[:magebind 1]}
   :defenses #{{:effectiveness 8
                :uses 1
                :restrictions #{:no-ranged}}}
   :description "This creature gains a **Defense**, which is unaffected by conditions on this creature, including Incapacitated, Restrained, and Daze."}
  {:name "Ghoul Rot"
   :subtypes #{:curse :poison}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:dark 1]
   :effects #{[:direct-damage :recipient] :upkeep}
   :traits #{[:magebind 2]}
   :description "Each Upkeep Phase, this creature receives 2 direct damage"}
  {:name "Harmonize"
   :subtypes #{:mana}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{:object}
   :school [:arcane 1]
   :effects #{[:channeling 1]}
   :traits #{[:magebind 2]}
   :description "Harmonize can only target an object that has the Channeling attribute. This object gains **Channeling +1**"}
  {:name "Hawkeye"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 1
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 1]
   :effects #{[:ranged 1]}
   :traits #{}
   :description "This creature gains the **Ranged +1** trait."}
  {:name "Hellfire Trap"
   :subtypes #{:trap :flame}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{:zone}
   :secondary-targets #{[:creature :enemy]}
   :school [:dark 1]
   :effects #{}
   :traits #{:mandatory :attack}
   :attacks #{{:dice 4
               :damage-type :flame
               :effects #{[[:burn 1] 5 8] [[:burn 2] 9 12]}
               :traits #{:unavoidable :defrost}}}
   :description "Hellfire Trap can only target a zone without enemy creatures. When an enemy creature enters the zone, you **must** reveal Hellfire Trap. Hellfire Trap immediately attacks that creature. Then, destroy Hellfire Trap."}
  {:name "Jinx"
   :subtypes #{:metamagic}
   :casting-cost 2
   :reveal-cost 1
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:arcane 1]
   :effects #{:counterspell}
   :traits #{:mandatory}
   :description "When this creature casts a **quick** spell, you **must** reveal Jinx during the Counter Spell Step. That spell is canceled and is returned to its owner's spellbook. Any mana spent to cast that spell is refunded to the caster's mana supply. Then, destroy jinx."}
  {:name "Magebane"
   :subtypes #{:curse}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:dark 1]
   :effects #{[:direct-damage :recipient]}
   :traits #{}
   :description "Each time this creature casts and resolves a spell, it receives 1 direct damage."}
  {:name "Maim Wings"
   :subtypes #{:curse}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:dark 1]
   :effects #{[:flying :debuff]}
   :traits #{}
   :description "This creature loses the **Flying** trait."}
  {:name "Marked for Death"
   :subtypes #{:curse}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{:creature}
   :school [:dark 1]
   :effects #{[:defense :debuff]}
   :traits #{[:magebind 2]}
   :description "All creatures gain +1 attack die when attacking this creature. Creatures can only gain this bonus for the first attack they make each round against this creature."}
  {:name "Mongoose Agility"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 1]
   :effects #{:elusive}
   :traits #{}
   :description "This creature gains the **Elusive** trait."}
  {:name "Nullify"
   :subtypes #{:metamagic}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:arcane 1]
   :effects #{:counterspell}
   :traits #{:mandatory}
   :description "When this creature is targeted by an incantation or enchantment spell controlled by an opponent, you **must** reveal Nullify during the Counter Spell Step. That spell is countered. Then, destroy Nullify."}
  {:name "Pacify"
   :subtypes #{:psychic}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{[:creature :non-mage]}
   :school [:holy 1]
   :effects #{[:melee :debuff] [:ranged :debuff]}
   :traits #{}
   :description "Each round, the first time this creature makes a melee or ranged attack, its controller must pay 2 mana during te Declare Attack Step, or else the attack is canceled. Pacify does not affect **counterstrikes**."}
  {:name "Poisoned Blood"
   :subtypes #{:curse :poison}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:dark 1]
   :effects #{:finite-life}
   :traits #{}
   :description "This creature gains the **Finite Life** trait."}
  {:name "Regrowth"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 3
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 1]
   :effects #{[:regenerate 2]}
   :traits #{[:magebind 1]}
   :description "This creature gains the **Regenerate 2** trait."}
  {:name "Retaliate"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:war 1]
   :effects #{:counterstrike [:melee :buff]}
   :traits #{}
   :description "This creature's quick action melee attacks gain the **Counterstrike** trait. The first time it makes a Counterstrike attack, destroy Retaliate."}
  {:name "Reverse Attack"
   :subtypes #{:force :defense}
   :casting-cost 2
   :reveal-cost 5
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:mind 2]
   :effects #{}
   :traits #{:mandatory}
   :description "When this creature is attacked, you **must** reveal Reverse Attack during the Avoid Attack Step. The attack is avoided and then redirected back to the attacker, who now becomes the target of that attack for the next 2 steps (Roll Dice and Damage and Effects). Then, destroy Reverse Attack. If the attack is **Unavoidable**, destroy Reverse Attack without effect."}
  {:name "Reverse Magic"
   :subtypes #{:metamagic}
   :casting-cost 2
   :reveal-cost 5
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal]}
   :school [:arcane 2]
   :effects #{}
   :traits #{:mandatory}
   :description "When this creature is targeted by an incantation or enchantment spell controlled by an opponent, you **must** reveal Reverse Magic during the Counter Spell Step. Redirect it back to the caster, who now becomes the target of the spell. You control that spell, and may make new choices, paying additional mana costs if any. Then, destroy Reverse Magic."}
  {:name "Rhino Hide"
   :subtypes #{}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:nature 2]
   :effects #{[:armor 2]}
   :traits #{[:magebind 1]}
   :description "This creature gains **Armor +2**."}
  {:name "Sacred Ground"
   :subtypes #{:protection :aegis}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{:zone}
   :secondary-targets #{[:creature :living :friendly]}
   :school [:holy 2]
   :effects #{[:aegis 1]}
   :traits #{}
   :description "All friendly Living creatures in this zone gain the **Aegis 1** trait."}
  {:name "Teleport Trap"
   :subtypes #{:trap :teleport}
   :casting-cost 2
   :reveal-cost 2
   :speed :quick
   :range [0 2]
   :targets #{:zone}
   :secondary-targets #{[:creature :enemy]}
   :school [:arcane 1]
   :effects #{}
   :traits #{:mandatory}
   :description "Teleport Trap can only target a zone without enemy creatures. When an enemy creature enters the zone, you **must** reveal Teleport Trap. That creature is immediately teleported to a zone of your choice, up to 2 zones away. Then, destroy Teleport Trap."}
  {:name "Turn to Stone"
   :subtypes #{:transform}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :corporeal :non-mage]}
   :school [[:arcane 2] [:earth 1]]
   :effects #{:incapacitated [:armor 6]}
   :traits #{[:upkeep 4]}
   :description "This creature is **Incapacitated**, and gains **Armor +6**. You cannot reveal Turn to Stone during an action, such as an attack or spell."}
  {:name "Vampirism"
   :subtypes #{:vampire}
   :casting-cost 2
   :reveal-cost 4
   :speed :quick
   :range [0 2]
   :targets #{[:creature :living]}
   :school [:dark 2]
   :effects #{[:melee :buff] :vampiric}
   :traits #{}
   :description "This creature's melee attacks gain the **Vampiric** trait."}}
