;; attacks
#{{"Blinding Flash" 1}
  {"Chain Lightning" 2}
  {"Electrify" 2}
  {"Fireball" 3}
  {"Firestorm" 2}
  {"Flameblast" 2}
  {"Geyser" 2}
  {"Jet Stream" 3}
  {"Lightning Bolt" 3}
  {"Pillar of Light" 3}
  {"Ring of Fire" 2}
  {"Thunderbolt" 1}}

